/* Utility/helper classes */

a { text-decoration: none; }

.monospace { font-family: Consolas, monospace !important; }

.text-center { text-align: center; }

.pt-6 { padding-top: 6px; }

.pd-12 {
  padding: 12px;
}

.updates-scrollable p { font-size: 12px; margin-top: 4px; }
