body {
    background: url("/images/bliss2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.icon {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    vertical-align: middle;
}

.header-icon {
    width: 16px;
    height: 16px;
    margin-right: 6px;
    margin-bottom: -3px;
}

summary {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.file {
    display: flex;
    align-items: center;
    margin-left: -18px;
}

.explorer details {
    padding-top: 4px;
    padding-bottom: 4px;
}

.explorer a {
    border: 1px solid transparent;
    border-radius: 3px;
}

.explorer a:hover {
    background: linear-gradient(#fff9, #e6ecf5cc 90%, #fffc);

    border: 1px solid var(--w7-el-bd-d);
    border-radius: 3px;

    box-shadow:
        inset 0 1px 0 rgba(255, 255, 255, 0.85),
        inset 0 -1px 0 rgba(255, 255, 255, 0.35);
}